.sale-graph-screen {
	margin: 100px 0 0;
	padding: 0 3%;
}

.heading {
	margin-top: 40px;
}

.select {
	width: 15%;
	border-radius: 5px;
	outline: auto;
	outline-color: #212529;
	border: none;
	margin: 5px 0 20px;
}

.select:focus {
	border: 2px solid #71d300;
}
