.purchase-graph-screen {
	margin: 100px 0 0;
	padding: 0 3%;
}

.heading {
	margin-top: 40px;
}

.select-buyer {
	width: 15%;
	border-radius: 5px;
	outline: auto;
	outline-color: #212529;
	border: none;
	margin: 30px 0 20px;
}

.select-buyer:focus {
	border: 2px solid #71d300;
}

.total-purchase-price {
	position: fixed;
	width: 100%;
	top: 58px;
	z-index: 1;
	background-color: #212529;
	color: #ffffff;
	display: block;
	padding: 0 0 10px;
}
